
<div class="container-md">
<form (submit)="saveMessage($event)">
    <div class="form-group">
      <label for="messagebox">Write your message:</label>
      <textarea class="form-control" id="messagebox" rows="3"></textarea>
    </div>
    <div class="form-group">
      <p>Please choose your name:</p>
        <div>
          <input type="radio" id="radio_juhi" name="user" value="juhi"
                checked>
          <label for="radio_juhi">Juhi</label>
        </div>

        <div>
          <input type="radio" id="radio_anushree" name="user" value="anushree">
          <label for="radio_anushree">Anushree</label>
        </div>

        <div>
          <input type="radio" id="radio_abhijit" name="user" value="abhijit">
          <label for="radio_abhijit">Abhijit</label>
        </div>

        <div>
          <input type="radio" id="radio_jharna" name="user" value="jharna">
          <label for="radio_jharna">Jharna</label>
        </div>
    </div>
    <div class="form-group">     
          <button type="submit" style="margin-right: 16px;margin-top: 16px;" class="btn btn-primary">Submit</button>      
          <button type="reset" style="margin-right: 16px;margin-top: 16px;" class="btn btn-primary">Clear</button>
    </div>     

  </form>
</div>
